<div class="col-md-1"></div>
<div class="col-md-10">
    <h1 style="text-align: center; color: blueviolet; font-weight: bold">About Library</h1>

        <p style="font-size: larger ;font-family: 'Times New Roman', Times, serif; text-align: justify">
               Are you a Book worm? Well then you are at the right place. Our Library is one of the most popular online book Library
           where you will find variety of books of different types, authored by famous authors across the globe. You can browse through
           our huge book collection, search your favourite book and once you issue it, the book will be with you for 7 days.
               If you are a newbie, Please <a href="http://localhost:4200/register" style="text-decoration: none">register</a> to enter into the 
               ocean of knowledge and if you are already a registered customer then
               <a href="http://localhost:4200/login" style="text-decoration: none">login</a> and continue browsing. 
               Because WE RESPECT READERS JUST LIKE YOU!
               

        </p>
</div>