<div class="col-md-1"></div>
<div class="col-md-10">
  <h1 style="text-align: center; color: black; font-weight: bold">Contact Us</h1>

  <hr><hr>
      <h3> We'd love to hear from you:</h3>
        <p style="font-size: larger ;font-family: 'Times New Roman', Times, serif; text-align: justify">
               
         
          <br>
          For Feedback and Complaints: 
          <i class="glyphicon glyphicon-envelope"></i>adityakanase001@gmail.com
          <br>
          Contact:
          <i class="glyphicon glyphicon-earphone"></i> +91-9503711067/9921100597
          <br>
          Office:&nbsp;
          "Sunbeam IT Park", Phase 2 of Rajiv Gandhi Infotech Park,Hinjawadi, Pune - 411057, MH-INDIA

        </p>
</div>