<h1 style="text-align: center">Change Password</h1>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    
    <div class="form-group">
      <label for="">Email</label>
      <input readonly [(ngModel)]="email" type="email" value="{email}" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="">New Password</label>
      <input [(ngModel)]="newpassword" type="password" class="form-control">
    </div>
    <p>please .. Re-login to view changes ...</p>
    <div class="form-group">
        <button (click)="changePwd()" class="btn btn-success">Update</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
    </div>
  </div>
</div>
